    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Kevin</h2>
                <p>I specialize in customized data center and home automation solutions around environmental monitoring and control systems.</p>
                <p>Installations have used customized python, perl and Bourne shell scripts based on UNIX platforms.<br>Hardware interfaces with (but not limited to):
                    <ul style="list-style-type:none">
                        <li><a href="https://opensprinkler.com/">OpenSprinkler</a></li>
                        <li><a href="http://www.proliphix.com/Network-Thermostats.htm">Proliphix Thermostat</a> Installation and API</li>
                        <li><a href="https://nest.com/thermostat/meet-nest-thermostat/">Nest Thermostat</a> Installation and python-nest library</li>
                        <li><a href="http://www.itwatchdogs.com/">ITWatchdogs (by Geist)</a> sensor monitoring</li>
                        <li><a href="http://www.embeddeddatasystems.com/HA7Net--Ethernet-1-Wire-Host-Adapter_p_22.html">HA7Net</a> 1-wire Interface and API</li>
                        <li><a href="http://www.apc.com/home/us/en/">APC</a> ACRC100/ACRD100 GPIO building automation interfaces</li></p>
                    </ul>
                <p>
            </div>
        </div>
    </section>
